@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  background-color: #fff;
}
.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(19, 8, 55);
  height: 100px;
  margin-bottom: 20px;
}
.cart-image{
  width: 100px;
}
.home-image-large{
  width: 300px;
}
.products{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}
.product{
  width: 300px;
  height: 500px;
  /*border: solid red;*/
  padding: 5px;
}
.below-navbar{
  height: 5px;
}
h3{
  text-align: center;
  height: 80px;
  color: crimson;
  font-size: large;
  font-weight: bold;
  text-decoration: solid;
  text-shadow: blue;

}
.products-cart{
  display: flex;
  flex-direction: column;
  gap: 20px;

}
.price-button {
  display: flex;
  justify-content: space-between; /* flex justify-between */
  gap: 3rem; /* gap-12 (12 * 0.25rem = 3rem) */
  align-items: center; /* items-center */
  width: 100%; /* w-full */
  margin-top: 1.25rem; /* mt-5 (5 * 0.25rem = 1.25rem) */
}

.flex-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.abc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 2.5rem; /* mt-10 */
  margin-left: 1.25rem; /* ml-5 */
  padding: 1rem; /* p-4 */
  border-radius: 0.75rem; /* rounded-xl */
  outline: 2px solid transparent; /* outline */
  border-radius: 0.75rem; /* rounded-xl */
  outline: 3px solid black; /* outline */
 
}

.abc > * + * {
  margin-top: 0.75rem; /* gap-3 */
}

.abc:hover {
  transform: scale(1.1); /* hover:scale-110 */
}


.title {
  color: #4b5563; /* text-gray-700 */
  font-weight: 600; /* font-semibold */
  font-size: 1.125rem; /* text-lg */
  text-align: left; /* text-left */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 10rem; /* w-40 */
  margin-top: 0.25rem; /* mt-1 */
}

.sub-title {
  width: 10rem; /* w-40 */
  color: #062341; /* text-gray-400 */
  font-weight: 600; /* font-normal */
  font-size: 0.625rem; /* text-[10px] */
  text-align: left; /* text-left */
}
.around {
  border-radius: 0.75rem; /* rounded-xl */
  outline: 2px solid transparent; /* outline */
}

.figure{
  height: 300px;
}
.price-up {
  color: #38a169; /* text-green-600 */
  font-weight: 600; /* font-semibold */
}

.price-button2 {
  color: #180862; /* text-gray-700 */
  border: 2px solid #bdd80b; /* border-2 border-gray-700 */
  border-radius: 9999px; /* rounded-full */
  font-weight: 600; /* font-semibold */
  font-size: 0.75rem; /* text-[12px] */
  padding: 0.25rem 0.75rem; /* p-1 px-3 */
  text-transform: uppercase; /* uppercase */
  transition-property: background-color, color; /* hover:bg-gray-700, hover:text-white */
  transition-duration: 300ms; /* duration-300 */
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); /* ease-in */
}

.price-button2:hover {
  background-color: #a8068d; 
  color: #fff; 
}
.cart-product{
  justify-content: right;
  margin-left: 50px;
}
.cost{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 50px;
}
.cart-count{
  position: relative;
  top: 30px;
  left: 40px;
  color: rgb(85, 255, 0);
  font-size: 1.2rem;
  font-weight: bold;
  
}




